body {
  background: url('../../../assets/img/background.jpg') center/cover;
  padding: $puzzle-padding;
}

.container {
  display: grid;
  grid-template-rows: 1fr $orient-init-height;
  gap: $puzzle-padding;

  height: 100%;
}
