.help {
  $padding: 1.5rem;
  $w: 35vw;

  position: absolute;
  width: $w;
  padding: $padding;
  border-radius: $padding;

  text-align: justify;
  background-color: $background-color-dark;

  transition: opacity 0.5s;
  opacity: 0;

  &--ball {
    top: 50%;
    left: calc(50% - #{$w / 2});
  }

  &--buble {
    bottom: $orient-height + 2 * $puzzle-padding + $padding;
    left: calc(50% - #{$w / 2});
  }

  &__arrow {
    $w: 2rem;
    $h: 1rem;

    position: absolute;
    width: $w;
    height: $h;
    background-color: $background-color-dark;

    &--up {
      top: -$h;
      left: calc(50% - #{$w / 2});
      clip-path: polygon(0 100%, 50% 0, 100% 100%);
      // transform: translateY(-97%);
    }

    &--down {
      bottom: -$h;
      left: calc(50% - #{$w / 2});
      clip-path: polygon(100% 0, 50% 100%, 0 0);
      // transform: translateY(97%);
    }

    &--right {
      width: $h;
      height: $w;
      top: calc(50% - #{$w / 2});
      right: -$h;
      clip-path: polygon(0 0, 100% 50%, 0 100%);
      // transform: translateX(100%);
    }

    &--left {
      width: $h;
      height: $w;
      top: calc(50% - #{$w / 2});
      left: -$h;
      clip-path: polygon(100% 0, 0 50%, 100% 100%);
      // transform: translateX(-100%);
    }
  }
}
