.help {
  $w-ball: 35vw;
  $w-buble: 40vw;
  $w-arrow: 2rem;
  $h-arrow: 1rem;
  $padding: 1.5rem;

  position: absolute;
  padding: $padding;
  border-radius: $padding;

  text-align: justify;
  font-size: 1.2rem;
  background-color: $background-color-dark;

  transition: opacity 0.5s;
  opacity: 0;

  &--ball {
    width: $w-ball;
    top: 50%;
    left: calc(50% - #{$w-ball / 2});
  }

  &--buble {
    width: $w-buble;
    bottom: $orient-height + 2 * $puzzle-padding + $padding;
    left: calc(50% - #{$w-buble / 2});
  }

  &__arrow {
    position: absolute;
    width: $w-arrow;
    height: $h-arrow;
    background-color: $background-color-dark;

    &--up {
      top: -$h-arrow;
      left: calc(50% - #{$w-arrow / 2});
      clip-path: polygon(0 100%, 50% 0, 100% 100%);
    }

    &--down {
      bottom: -$h-arrow;
      left: calc(50% - #{$w-arrow / 2});
      clip-path: polygon(100% 0, 50% 100%, 0 0);
    }

    &--right {
      width: $h-arrow;
      height: $w-arrow;
      top: calc(50% - #{$w-arrow / 2});
      right: -$h-arrow;
      clip-path: polygon(0 0, 100% 50%, 0 100%);
    }

    &--left {
      width: $h-arrow;
      height: $w-arrow;
      top: calc(50% - #{$w-arrow / 2});
      left: -$h-arrow;
      clip-path: polygon(100% 0, 0 50%, 100% 100%);
    }
  }
}
