$buble-width: 5px;
$range-width: 30%;

.orient {
  position: relative;
  border: $game-border;
}

@mixin move($width, $color) {
  position: absolute;
  width: $width;
  height: 100%;

  left: calc(50% - #{$width / 2});

  background-color: $color;
}

.range {
  @include move($range-width, $background-color-dark);
}

.buble {
  @include move($buble-width, red);
  transition: transform 0.3s linear;
}
