.orient {
  background-color: rgb(238, 235, 41);
}

.range {
  width: 30%;

  background-color: rgb(236, 235, 147);
  height: 100%;
}

.buble {
  width: 5px;
  height: 100%;
  background-color: rgb(231, 27, 27);
}
