.puzzle {
  @include no-drag;
  position: relative;
  background: $background-color-gradient;
}

@mixin move($r) {
  position: absolute;
  top: calc(50% - #{$r});
  left: calc(50% - #{$r});
  height: 2 * $r;
  width: 2 * $r;

  border-radius: 50%;
  background-color: rgba(lighten($background-color-1, 70), 0.8);
}

.ball {
  @include move(5rem);
}

.score {
  $r: 3rem;
  @include move($r);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  transform: translateY(
    calc(#{1.5 * $puzzle-padding} + #{$orient-init-height / 2} - 50vh + #{$r})
  );
}
