.puzzle {
  @include no-drag;
  position: relative;
  background-color: rgb(76, 228, 88);
}

.ball {
  $r: 5rem;

  position: absolute;
  height: 2 * $r;
  width: 2 * $r;
  top: calc(50% - #{$r});
  left: calc(50% - #{$r});

  background-color: #fff;
  border-radius: 50%;
}

.score {
  $r: 3rem;

  position: absolute;
  left: calc(50% - #{$r});
  width: 2 * $r;
  height: 2 * $r;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #fff;
  font-size: 1.5rem;
  border-radius: 50%;
}
