//-----------------------------
//            width
//-----------------------------
$card-padding: 1rem;

$puzzle-item-width: 6rem;
$puzzle-padding: 1rem;

$button-margin: 1.5rem;

$orient-height: 5rem;

//-----------------------------
//            color
//-----------------------------
$color-correct: #4caf50;
$color-wrong: #e91e63;
$color-total: #448aff;

$background-color-dark: rgba(lighten(#1dc2d8, 50), 0.5);
$background-color-light: rgba(lighten(#00bcd4, 70), 0.5);
$game-border: #{$gameBorderSize}px solid rgba(255, 255, 255, 0.5);

//-----------------------------
//            font
//-----------------------------
$font-score: 2.5rem;
