* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: 'dana';
  direction: rtl;
}
