block config

doctype html
html(lang='fa')
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= name
    link(rel='shortcut icon', href='./img/logo-min.png', type='image/x-icon')

  body
    block container

    include popup/popupMenu
    include popup/popupResult

    include intro/intro

    include restartTimer/restartTimer
