extends ../../modules/layout
include ../../modules/timer/timer

block config
  - const name = "میزون";

mixin homeText
  | تقسیم توجه می‌تواند به عنوان توانایی مغز ما در حضور همزمان در دو محرک مختلف تعریف شود
  | و به خواسته‌های متعدد محیط اطراف شما پاسخ دهد.
  | توجه تقسیم شده نوعی توجه همزمان است که به ما امکان می‌دهد منابع مختلف اطلاعاتی را پردازش کنیم
  | و چندین کار را به طور همزمان با موفقیت انجام دهیم
  | . این مهارت های شناختی بسیار مهم است ،
  | زیرا به ما این امکان را می دهد تا در زندگی روزمره خود کارآمدتر باشیم.

mixin howText
  | در این بازی سه نشانه به شما نمایش داده می شود و شما باید در زمان
  | تعیین شده این نشانه ها را پیدا کنید. زمان در این بازی مهم است و
  | امتیاز آن در پایان بازی به مجموع امتیازات شما اضافه می شود. درقسمت
  | دیگر صفحه، تابلوی امتیازات قرار دارد. در قسمت پایین صفحه دکمه های
  | خانه و تنظیمات صدا قرار دارد. با زدن روی دکمه خانه صفحه معرفی بازی
  | یا مشاهده نتیجه باز می شود.

block container
  .container
    .puzzle
      .ball
      .score
        .score__number 0
        span امتیاز
      .help.help--ball
        .help__arrow
        | برای شروع دست خود را روی توپ قرار دهید.
        | دقت کنید که در هنگام شروع بازی گوشی به صورت افقی باشد
        | تا از پریده شدن تراز جلوگیری شود.

    .orient
      .range
      .buble

    .help.help--buble
      .help__arrow.help__arrow--down
      | برای شروع دست خود را روی توپ قرار دهید.
      | دقت کنید که در هنگام شروع بازی گوشی به صورت افقی باشد
      | تا از پریده شدن تراز جلوگیری شود.

    .error
      img(src='../../assets/img/emoji_very_sad.gif', alt='sad')
      span
        | برای انجام این بازی به حسگر حرکتی نیاز هست. ظاهرا دستگاه شما از این حسگر پشتیبانی نمی کند.
