extends ../../modules/layout
include ../../modules/timer/timer

block config
  - const name = "میزون";

mixin homeText
  | تقسیم توجه می‌تواند به عنوان توانایی مغز ما در حضور همزمان در دو محرک مختلف تعریف شود
  | و به خواسته‌های متعدد محیط اطراف شما پاسخ دهد.
  | توجه تقسیم شده نوعی توجه همزمان است که به ما امکان می‌دهد منابع مختلف اطلاعاتی را پردازش کنیم
  | و چندین کار را به طور همزمان با موفقیت انجام دهیم
  | . این مهارت های شناختی بسیار مهم است ،
  | زیرا به ما این امکان را می دهد تا در زندگی روزمره خود کارآمدتر باشیم.

mixin howText
  | این بازی از یک توپ و یک تراز تشکیل شده است.
  | در طول بازی باید همزمان با نگه داشتن انگشت خود روی توپ،
  | خط قرمز را با تکان دادن گوشی داخل تراز (که همون مستطیل سفید هست) نگه دارید.
  | اما بازی به همین سادگی نیست! چون هم توپ و هم تراز جا به جا می شند.
  | برای شروع بازی دستتون رو روی توپ بگذارید.
  | حواستون باشه که گوشی رو صاف نگه داشته باشید.

block container
  .container
    .puzzle
      .ball
      .score
        .score__number 0
        span امتیاز
      .help.help--ball
        .help__arrow
        | برای شروع، انگشت خود را روی توپ قرار دهید
        | و مراقب باشید که توپ از زیر انگشتتان فرار نکند.

    .orient
      .range
      .buble

    .help.help--buble
      .help__arrow.help__arrow--down
      | همزمان با نگه داشتن انگشت خود روی توپ،
      | باید خط قرمز را داخل مستطیل سفید نگه دارید.
      | خط قرمز با تکان دادن گوشی حرکت میکند.
      | بهتر است گوشی را افقی نگه دارید.

    .error
      img(src='../../assets/img/emoji_very_sad.gif', alt='sad')
      span
        | برای انجام این بازی به حسگر حرکتی نیاز هست. ظاهرا دستگاه شما از این حسگر پشتیبانی نمی کند.
