extends ../popup

block var
  - var front_id = "menu";
  - var back_id = "how";

  - var popup_front_id_enable = false;
  - var popup_back_id_enable = false;

  - var front_title = name;
  - var back_title = name;

  - var front_btnPrimary_icon = "play-button";
  - var front_btnPrimary_label = "شروع";
  - var front_btnSecondary_icon = "question";
  - var front_btnSecondary_label = "بازی چطوریه";
  - var front_btnTridary_icon = "star";
  - var front_btnTridary_label = "نمایش رتبه";

  - var back_btnPrimary_icon = "play-button";
  - var back_btnPrimary_label = "شروع";
  - var back_btnSecondary_icon = "back";
  - var back_btnSecondary_label = "بازگشت";

block front-body
  p.popup__text
    +homeText

block back-body
  p.popup__text
    +howText

  a.popup__help.btn-second(href='#', style={ display: "none" }) راهنمایی بیش تر

block extera-button
  +button(front_id, front_btnTridary_label, front_btnTridary_icon, 'button--tridary button__rank')

block front-logo
  .popup__logo

block back-logo
  .popup__logo
