.puzzle {
  display: flex;
  flex-direction: column;
  width: 50vw;

  @include respond(phone) {
    width: 90vw;
  }

  @for $i from 0 through 5 {
    &--in--#{$i} {
      animation: anim__answer--in 1s #{$i * 0.1}s ease-in-out;
    }

    &--out--#{$i} {
      animation: anim__answer--out 1s #{$i * 0.1}s ease-in-out forwards;
    }
  }
}

.question {
  font-size: $question-font;
  text-align: center;

  @include card(center);
}

.answer {
  @include card(center);

  display: flex;
  align-items: center;
  margin-top: $question-font / 2;

  color: $color-total;
  font-size: $question-font / 2;
  transition: all 0.3s;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.05);
    }
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    margin-left: $question-font / 4;

    border: 2px solid currentColor;
    border-radius: 50%;
  }

  &__text {
    color: #000;
    margin-left: auto;
  }

  > svg {
    width: 3rem;
  }
}

@keyframes anim__answer--in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes anim__answer--out {
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
