body {
  background: url('../../../assets/img/background-min.JPG') top left/cover;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transition: all 1s ease;

  opacity: 0;

  @include respond(phone) {
    flex-direction: column;
  }
}

.menu {
  @include bottomIcon('right');
}

.mute {
  @include bottomIcon('left');
}
