.puzzle {
  display: grid;
  grid-template-columns: 30vw 30vw;
  gap: 2rem;
  font-weight: 900;

  @include respond(phone) {
    grid-template-columns: 45vw 45vw;
  }
}

.question {
  position: relative;
  grid-column: 1 / -1;
  font-size: 8rem;
  text-align: center;

  @include card(center);
  padding: 5rem 1rem;

  &__type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    transition: all ease 0.3s;
  }

  &__text {
    transition: all ease #{$questionInOutDuration}ms;
  }
}

.answer {
  @include card(center);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  color: $color-total;
  font-size: 3rem;
  transition: all #{$questionInOutDuration}ms;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.05);
    }
  }

  &__text {
    transition: all ease 0.3s;
  }

  > svg {
    position: absolute;
    left: 1rem;
    width: 3rem;

    transition: all ease 0.3s;
  }
}

@keyframes anim__answer--in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes anim__answer--out {
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
