extends ../module/popup

block var
  - var front_id = "menu";
  - var back_id = "how";

  - var popup_front_id_enable = false;
  - var popup_back_id_enable = false;

  - var front_title = "رنگارنگ";
  - var back_title = "رنگارنگ";

  - var front_btnPrimary_icon = "play-button";
  - var front_btnPrimary_label = "شروع";
  - var front_btnSecondary_icon = "question";
  - var front_btnSecondary_label = "بازی چطوریه";

  - var back_btnPrimary_icon = "play-button";
  - var back_btnPrimary_label = "شروع";
  - var back_btnSecondary_icon = "back";
  - var back_btnSecondary_label = "بازگشت";

block front-body
  p.popup__text تقسیم توجه می‌تواند به عنوان توانایی مغز ما در حضور همزمان در دو محرک مختلف تعریف شود و به خواسته‌های متعدد محیط اطراف شما پاسخ دهد. توجه تقسیم شده نوعی توجه همزمان است که به ما امکان می‌دهد منابع مختلف اطلاعاتی را پردازش کنیم و چندین کار را به طور همزمان با موفقیت انجام دهیم. این مهارت های شناختی بسیار مهم است ، زیرا به ما این امکان را می دهد تا در زندگی روزمره خود کارآمدتر باشیم.

block back-body
  p.popup__text
    | این بازی دو گونه معما، پیش روی شما قرار می‌دهد. در بعضی معماها علامت
    svg: use(xlink:href='../img/sprite.svg#ink')
    | و در بعضی علامت
    svg: use(xlink:href='../img/sprite.svg#pencil')
    | به شما نمایش داده می‌شود.
    | اما معماها به این شکل است؛ یک رنگ به صورت نوشته‌ای رنگی برای شما نمایش داده می‌شود!
    | در حالت
    svg: use(xlink:href='../img/sprite.svg#ink')
    | باید بدون توجه به معنای نوشته، گزینه‌ای که در آن نام رنگ مورد نظر نوشته شده است را انتخاب ‌کنیم.
    | در حالتی که علامت
    svg: use(xlink:href='../img/sprite.svg#pencil')
    | نمایش داده شده باشد برعکس حالت قبل عمل می‌کنیم. یعنی بدون توجه به رنگ نوشته و با توجه به معنای نوشته، باید گزینه‌‌ای که دارای آن رنگ است را انتخاب کنیم.
    | مثلا اگر
    b(style={ color: "#388E3C" })= ` بنفش `
    | آمده بود، در حالت
    svg: use(xlink:href='../img/sprite.svg#pencil')
    | جواب درست
    b(style={ color: "#6a1b9a" })= ` زرد `
    | است ولی اگر حالت
    svg: use(xlink:href='../img/sprite.svg#ink')
    | بود، جواب درست
    b(style={ color: "#d50000" })= ` سبز `
    | می شد.

  a.popup__help.btn-second(href='#') راهنمایی بیش تر

block front-logo
  .popup__logo

block back-logo
  .popup__logo
