@font-face {
  font-family: 'vazir';
  src: url('../font/Vazir-Thin-FD.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'vazir';
  src: url('../font/Vazir-Light-FD.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'vazir';
  src: url('../font//Vazir-FD.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'vazir';
  src: url('../font/Vazir-Bold-FD.ttf');
  font-weight: 700;
}

////////////////////////////
//          dana          //
////////////////////////////

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 10;
  src: url('../font/dana-fanum-thin.woff2') format('woff2'),
    url('../font/dana-fanum-thin.woff') format('woff');
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 200;
  src: url('../font/dana-fanum-extralight.woff2') format('woff2'),
    url('../font/dana-fanum-extralight.woff') format('woff');
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 300;
  src: url('../font/dana-fanum-light.woff2') format('woff2'),
    url('../font/dana-fanum-light.woff') format('woff');
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  src: url('../font/dana-fanum-medium.woff2') format('woff2'),
    url('../font/dana-fanum-medium.woff') format('woff');
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 600;
  src: url('../font/dana-fanum-demibold.woff2') format('woff2'),
    url('../font/dana-fanum-demibold.woff') format('woff');
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 750;
  src: url('../font/dana-fanum-ultrabold.woff2') format('woff2'),
    url('../font/dana-fanum-ultrabold.woff') format('woff');
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 800;
  src: url('../font/dana-fanum-extrabold.woff2') format('woff2'),
    url('../font/dana-fanum-extrabold.woff') format('woff');
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 900;
  src: url('../font/dana-fanum-black.woff2') format('woff2'),
    url('../font/dana-fanum-black.woff') format('woff');
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: bold;
  src: url('../font/dana-fanum-bold.woff2') format('woff2'),
    url('../font/dana-fanum-bold.woff') format('woff');
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: normal;
  src: url('../font/dana-fanum-regular.woff2') format('woff2'),
    url('../font/dana-fanum-regular.woff') format('woff');
}
